.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

}
.services-titel{
    text-align: center;
}
@media only screen and (max-width:550px){
    .services-container{
        grid-template-columns: 1fr;
    }
    
}
@media only screen and (min-width:551px) and (max-width:900px){
    .services-container{
        grid-template-columns:repeat(2,1fr);
    }
    
}